@import "tailwindcss";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: "Quicksand", sans-serif;
    background:#F8F7F4;
    color:#1E293B;
}